<!DOCTYPE html>

<html ng-app="appponto">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <title>Ponto</title>
    </head>
    <body>

        <header id="header" ng-switch on="page">          
            <nav ng-switch-when="/horas" class="nav-inner">
                <button ng-click="voltar()" type="button" class="back">
                    <span class="icon-arrow-left"></span>
                </button>
                <h1>{{dia_inner}}</h1>
            </nav>

            <nav ng-switch-default>
                <ul>
                    <li>
                        <a ng-class="{'active': page == '/'}" ng-click="go('hoje')">{{globalization.menu[0]}}</a>
                    </li>
                    <li>
                        <a ng-class="{'active': page == '/semana'}"  ng-click="go('semana')">{{globalization.menu[1]}}</a>
                    </li>
                    <li>
                        <a ng-class="{'active': page == '/mes'}" ng-click="go('mes')">{{globalization.menu[2]}}</a>
                    </li>
                    <li>
                        <a ng-class="{'active': page == '/todos'}" ng-click="go('todos')">{{globalization.menu[3]}}</a>
                    </li>
                    <li class="conf">
                        <a ng-class="{'active': page == '/conf'}" ng-click="go('conf')"><span class="icon-conf"></span></a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <div ng-view></div>
        </main>

        <script type="text/javascript" src="phonegap.js"></script>
        <script type="text/javascript" src="js/angular/1.2.28/angular.min.js"></script>
        <script type="text/javascript" src="js/angular/1.2.28/angular-route.min.js"></script>
        <script type="text/javascript" src="js/angular/1.2.28/angular-touch.min.js"></script>
        <script type="text/javascript" src="app/bootstrap.js"></script>
        <script type="text/javascript" src="app/controllers/conf.js"></script>
        <script type="text/javascript" src="app/controllers/hoje.js"></script>
        <script type="text/javascript" src="app/controllers/mes.js"></script>
        <script type="text/javascript" src="app/controllers/semana.js"></script>
        <script type="text/javascript" src="app/controllers/horas.js"></script>
        <script type="text/javascript" src="app/controllers/todos.js"></script>
        <script type="text/javascript" src="app/controllers/dialtime.js"></script>
        <script type="text/javascript" src="app/controllers/dinner.js"></script>
        <script type="text/javascript" src="app/directives/onLongPress.js"></script>
        <script type="text/javascript" src="app/directives/dialogTime.js"></script>
        <script type="text/javascript" src="app/directives/dinner.js"></script>
        <script type="text/javascript" src="app/directives/increase.js"></script>
        <script type="text/javascript" src="app/services/Tool.js"></script>
        
    </body>
</html>