<section>
	<div class="conf-header">Notificações</div>
	<div class="conf-body">

		<div class="checkbox">
			Alertar quando for a hora de ir &nbsp;
			<div class="slideThree">	
				<input type="checkbox" id="slideThree" name="check" />
				<label for="slideThree"></label>
			</div>
		</div>
	</div>
</section>

<section class="conf-dias">
	<div class="conf-header">Horas de trabalho</div>
	
	<div class="conf-body">

		<div class="conf-dias-botoes">
			<button>Segunda</button>
			<button>Terça</button>
			<button>Quarta</button>
			<button>Quinta</button>
			<button>Sexta</button>
			<button>Sábado</button>
			<button>Domingo</button>
		</div>
	</div>

</section>