<!-- <section>
	<div class="conf-header">Notificações</div>
	<div class="conf-body">

		<div class="checkbox">
			Alertar quando for a hora de ir &nbsp;
			<div class="slideThree">	
				<input type="checkbox" id="slideThree" name="check" />
				<label for="slideThree"></label>
			</div>
		</div>
	</div>
</section> -->

<dialtime index="indexSelecionado" horas="horas" minutos="minutos"></dialtime>

<section class="conf-dias">
	<div class="conf-header">Horas de trabalho</div>
	
	<div class="conf-body">
		<div class="conf-dias-botoes">
			<button type="button" ng-click="conf.configurarDia('segunda')">Segunda</button>
			<button type="button" ng-click="conf.configurarDia('terca')">Terça</button>
			<button type="button" ng-click="conf.configurarDia('quarta')">Quarta</button>
			<button type="button" ng-click="conf.configurarDia('quinta')">Quinta</button>
			<button type="button" ng-click="conf.configurarDia('sexta')">Sexta</button>
			<button type="button" ng-click="conf.configurarDia('sabado')">Sábado</button>
			<button type="button" ng-click="conf.configurarDia('domingo')">Domingo</button>
		</div>
	</div>

</section>