<!-- <section>
	<div class="conf-header">Notificações</div>
	<div class="conf-body">

		<div class="checkbox">
			Alertar quando for a hora de ir &nbsp;
			<div class="slideThree">	
				<input type="checkbox" id="slideThree" name="check" />
				<label for="slideThree"></label>
			</div>
		</div>
	</div>
</section> -->

<dialtime index="indexSelecionado" horas="horas" minutos="minutos" conf="true"></dialtime>

<section class="conf-dias">
	<div class="conf-header">Horas de trabalho</div>
	
	<div class="conf-body">
		<div class="conf-dias-botoes">
			<button type="button" ng-click="conf.configurar(1)">Segunda <span>{{semana.1}}</span></button>
			<button type="button" ng-click="conf.configurar(2)">Terça <span>{{semana.2}}</span></button>
			<button type="button" ng-click="conf.configurar(3)">Quarta <span>{{semana.3}}</span></button>
			<button type="button" ng-click="conf.configurar(4)">Quinta <span>{{semana.4}}</span></button>
			<button type="button" ng-click="conf.configurar(5)">Sexta <span>{{semana.5}}</span></button>
			<button type="button" ng-click="conf.configurar(6)">Sábado <span>{{semana.6}}</span></button>
			<button type="button" ng-click="conf.configurar(0)">Domingo <span>{{semana.0}}</span></button>
		</div>
	</div>

</section>