<div ng-hide="checkpoints.length !== 0" class="alert alert-job">
    <span class="icon-job"></span>
    <p class="text">Você não começou a trabalhar ainda</p>
</div>

<ul id="checkpoints">
    <li on-long-press="hoje.abrirMenu($index)" ng-class="{'in': $index % 2 == 0, 'out': $index % 2 != 0}" ng-repeat="checkpoint in checkpoints">  {{checkpoint}}
        <div class="menu-box" id="menu-box-{{$index}}">
            <button type="button" class="edit" ng-click="hoje.editar()"><span class="icon-edit"></span></button>
            <button type="button" class="remove" ng-click="hoje.deletar($index)"><span class="icon-remove"></span></button>
        </div>
    </li>
</ul>

<button class="fx-button" type="button" ng-click="hoje.salvarData()">
    <span style="margin-top: 100%;">&#43</span>
</button>

<footer id="footer"> 
    <div class="row">
        <div style="position:relative; width: 80%; float: left;">
            Horas trabalhadas
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            {{horasTrabalhadas}}
        </div>
    </div>

    <div class="row">
        <div style="position:relative; width: 78%; float: left;">
            Saldo
        </div>
        <div style="position:relative; width: 22%; float: left; text-align: center;">
            <span ng-show="saldoFinal > 0" style="color: #00DF00;">+</span>
            <span ng-show="saldoFinal < 0" style="color: red">-</span>
            {{saldo}}
        </div>
    </div>

    <div class="row" ng-show="horaIr">
        <div style="position:relative; width: 80%; float: left;">
            Hora de ir
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            18:37
        </div>
    </div>
</footer>