<div ng-hide="checkpoints.length !== 0" class="alert alert-job">
    <span class="icon-job"></span>
    <p class="text">Você não começou a trabalhar ainda</p>
</div>

<dialtime index="indexSelecionado" horas="horas" minutos="minutos"></dialtime>

<ul id="checkpoints">
    <li on-long-press="hoje.abrirMenu($index)" ng-class="{'in': $index % 2 == 0, 'out': $index % 2 != 0}" ng-repeat="checkpoint in checkpoints">  {{checkpoint.substr(0,5)}}
        <div class="menu-box" id="menu-box-{{$index}}">
            <button type="button" class="edit" ng-click="hoje.editar($index)"><span class="icon-edit"></span></button>
            <button type="button" class="remove" ng-click="hoje.deletar($index)"><span class="icon-remove"></span></button>
        </div>
    </li>
</ul>

<button class="fx-button" type="button" ng-click="hoje.salvarData()" on-long-press="hoje.novoCheckpoint($index)">
    <span style="margin-top: 100%;">&#43</span>
</button>

<footer id="footer"> 
    <div class="row">
        <div style="position:relative; width: 80%; float: left; color: #7B7B7B;">
            Horas trabalhadas
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            {{horasTrabalhadas}}
        </div>
    </div>

    <div class="row">
        <div style="position:relative; width: 80%; float: left; color: #7B7B7B;">
            Saldo &nbsp;&nbsp;&nbsp;
            <span ng-show="saldoFinal > 0" style="color: #00DF00; float: right; margin-right: 11px;" class="icon-plus"></span>
            <span ng-show="saldoFinal < 0" style="color: red; float: right; margin-right: 11px;" class="icon-minus"></span>
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            {{saldo}}
        </div>
    </div>

    <div class="row" ng-show="horaIr" style="margin: 0;">
        <div style="position:relative; width: 80%; float: left; color: #7B7B7B;">
            Hora de ir
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            {{horasHoraIr}}
        </div>
    </div>
</footer>