<ul id="checkpoints">
    <li on-long-press="mes.abrirMenu($index)" ng-repeat="obj in objmes"> <span class="checkpoint-day">{{obj.dia}}</span> {{obj.diaNumero}}
        <span style="float:right;" ng-show="obj.saldo > 0"><span style="color: #00DF00;" class="icon-plus"></span>&nbsp;&nbsp;{{obj.saldoFmt}}</span>
        <span style="float:right;" ng-show="obj.saldo < 0"><span style="color: red;" class="icon-minus"></span>&nbsp;&nbsp;{{obj.saldoFmt}}</span>

        <div class="menu-box" id="menu-box-{{$index}}">
            <button type="button" class="open" ng-click="mes.abrirDia(obj.diaUrl)"><span class="icon-folder-open"></span></button>
            <button type="button" class="remove" ng-click="mes.deletar($index, obj.diaKey)"><span class="icon-remove"></span></button>
        </div>
    </li>
</ul>

<footer id="footer">
    <div id="footer-wrapper">
        <div class="row">
            <div class="left">
                {{globalization.rodape[0]}}
            </div>
            <div class="right">
                {{totalExecutado}}
            </div>
        </div>
        <div class="row minus-margin-row">
            <div class="left">
             	{{globalization.rodape[1]}}

                <span ng-show="saldoTotal > 0" class="icon-saldo-plus icon-plus"></span>
                <span ng-show="saldoTotal < 0" class="icon-saldo-minus icon-minus"></span>
            </div>
            <div class="right">
                {{saldoTotalFmt}}
            </div>
        </div>
    </div>
</footer>
