<ul id="checkpoints">
    <li>22/01 Segunda <span style="float:right;"><span style="color: #00DF00;" class="icon-plus"></span> 00:32</span></li>
    <li>23/01 Terça <span style="float:right;"><span style="color: red;" class="icon-minus"></span> 00:02</span></li>
    <li>24/01 Quarta <span style="float:right;"><span style="color: #00DF00;" class="icon-plus"></span> 00:32</span></li>
    <li>25/01 Quinta <span style="float:right;"><span style="color: #00DF00;" class="icon-plus"></span> 00:32</span></li>
    <li>26/01 Sexta <span style="float:right;"><span style="color: #00DF00;" class="icon-plus"></span> 00:32</span></li>
    <li>27/01 Sábado <span style="float:right;"><span style="color: red;" class="icon-minus"></span> 00:52</span></li>
    <li>28/01 Domingo <span style="float:right;"><span style="color: #00DF00;" class="icon-plus"></span> 00:32</span></li>
</ul>