<ul id="checkpoints">
    <li ng-repeat="obj in objsemana"> {{obj.dia}} &nbsp;&nbsp; {{obj.diaNumero}}
    	<span style="float:right;" ng-show="obj.saldo > 0"><span style="color: #00DF00;" class="icon-plus"></span>&nbsp;&nbsp;{{obj.saldoFmt}}</span>
        <span style="float:right;" ng-show="obj.saldo < 0"><span style="color: red;" class="icon-minus"></span>&nbsp;&nbsp;{{obj.saldoFmt}}</span>
    </li>
</ul>

<footer id="footer"> 
    <div class="row">
        <div style="position:relative; width: 80%; float: left; color: #7B7B7B;">
            Total executado
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            {{totalExecutado}}
        </div>
    </div>
    <div class="row">
        <div style="position:relative; width: 80%; float: left; color: #7B7B7B;">
         	Saldo
        </div>
        <div style="position:relative; width: 20%; float: left; text-align: center;">
            <span style="float:right;" ng-show="saldoTotal > 0"><span style="color: #00DF00;" class="icon-plus"></span>&nbsp;&nbsp;{{saldoTotalFmt}}</span>
            <span style="float:right;" ng-show="saldoTotal < 0"><span style="color: red;" class="icon-minus"></span>&nbsp;&nbsp;{{saldoTotalFmt}}</span>
        </div>
    </div>
</footer>