<ul id="checkpoints">
    <li ng-click="semana.abrirDia(obj.diaUrl)" ng-repeat="obj in objsemana"> <span class="checkpoint-day">{{obj.dia}}</span> {{obj.diaNumero}}
    	<span style="float:right;" ng-show="obj.saldo > 0"><span style="color: #00DF00;" class="icon-plus"></span>&nbsp;&nbsp;{{obj.saldoFmt}}</span>
        <span style="float:right;" ng-show="obj.saldo < 0"><span style="color: red;" class="icon-minus"></span>&nbsp;&nbsp;{{obj.saldoFmt}}</span>
    </li>
</ul>

<footer id="footer"> 
    <div class="row">
        <div class="left">
            Total executado
        </div>
        <div class="right">
            {{totalExecutado}}
        </div>
    </div>
    <div class="row">
        <div class="left">
         	Saldo

            <span ng-show="saldoTotal > 0" class="icon-saldo-plus icon-plus"></span>
            <span ng-show="saldoTotal < 0" class="icon-saldo-minus icon-minus"></span>
        </div>
        <div class="right">
            {{saldoTotalFmt}}
        </div>
    </div>
</footer>