<div class="dialog-view-container">
    <div id="dialog" class="dialog view">
      <div class="dialog-view-details">
        <h1>Selecione um horário</h1>
        
        <div class="time-wrapper">
            <div class="time-box">
    			<button type="button" ng-click="dialtime.aumentarHora()"><span class="icon-plus"></span></button>
    			<input type="text" ng-model="horas">
    			<button type="button" ng-click="dialtime.diminuirHora()"><span class="icon-minus"></span></button>
    		</div>

    		<div class="time-box">
    			<button type="button" ng-click="dialtime.aumentarMinuto()"><span class="icon-plus"></span></button>
    			<input type="text" ng-model="minutos">
    			<button type="button" ng-click="dialtime.diminuirMinuto()"><span class="icon-minus"></span></button>
    		</div>
        </div>

        <div class="dialog-view-buttons text-right">
            <button type="button" ng-click="dialtime.fechar()">Fechar</button>
            <button type="button" ng-click="dialtime.salvar()" class="dialog-button-ok">Salvar</button>
        </div>
      </div>
    </div>
</div>