<div class="dialog-view-container">
    <div id="dialog" class="dialog view visible">
      <div class="dialog-view-details">
        <h1>Selecione um horário</h1>
        
        <div class="time-box">
			<button type="button">+</button>
			<input type="text" value="23">
			<button type="button">-</button>
		</div>

		<div class="time-box">
			<button type="button">+</button>
			<input type="text" value="55">
			<button type="button">-</button>
		</div>

        <!-- <div class="dialog-view-buttons text-right">
            <button ng-click="dialog.close()">Fechar</button>
            <button ng-click="dialog.checkCallBack(dialog.callback, dialog.id)" class="dialog-button-ok">Salvar</button>
        </div> -->
      </div>
    </div>
</div>